{% extends 'base.html' %}

{% block content %}
<h1>{{ post.title }}</h1>
{{ post.text|safe }}
<hr>
<h3>Комментарии</h3>
    {% for comment in post.comments %}
    <p>{{ comment.quest }}</p>
    <p>{{ comment.text|safe }}</p>
    {% endfor %}
<hr>
<h3>Введите ваш комментарий</h3>
<form method="post">
    {{ form.hidden_tag() }}
    {{ form.questname.label }}
    {{ form.questname() }}
    {{ form.text.label }}
    {{ form.text() }}
    <p><input type="submit" value="Добавить"></p>
</form>
{% endblock %}
